.social {
    padding: 50px 20px;
    text-align: center;
  }
  
  .social h2 {
    font-size: 2rem;
    color: #333;
  }
  
  .socialImages {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }